{% extends 'base.html' %}
{% block page_title %}Home | {% endblock %}
{% block page_header %}Movie Recommendation System{% endblock %}

{% block content %}
    <p>This system provides personalized movie recommendations based on your preferences.</p>
    <div class="action-buttons">
        <a href="/recommend_movies"><button class="navigation-buttons">Recommend Movies</button></a>
        <a href="/recommend_movies_llm"><button class="navigation-buttons">Recommend Movies (With Reasoning)</button></a>    
    </div>
{% endblock %}